apiVersion: v1
kind: ConfigMap
metadata:
  name: oficina-tech-ms3-config
  namespace: app-oficina-tech
data:
  DB_HOST: "postgres-ms3"
  DB_PORT: "5432"
  DB_NAME: "db_ms3"
  DB_USER: "oficina"
  DB_SSLMODE: "disable"
  SERVER_PORT: "8083"
  AWS_REGION: "us-east-1"
  SQS_INVENTORY_OP_REQUESTED_URL: "https://sqs.us-east-1.amazonaws.com/ACCOUNT_ID/order-inventory-op-requested"
  SQS_INVENTORY_OP_SUCCEEDED_URL: "https://sqs.us-east-1.amazonaws.com/ACCOUNT_ID/order-inventory-op-succeeded"
  SQS_INVENTORY_OP_FAILED_URL: "https://sqs.us-east-1.amazonaws.com/ACCOUNT_ID/order-inventory-op-failed"
  SNS_INVENTORY_LOW_ALERT_ARN: "arn:aws:sns:us-east-1:ACCOUNT_ID:inventory-low-alert"
  APP_ENV: "production"
  APP_VERSION: "1.0.0"
