apiVersion: v1
kind: Secret
metadata:
  name: oficina-tech-ms3-secret
  namespace: app-oficina-tech
type: Opaque
stringData:
  DB_PASSWORD: "your-database-password"
  JWT_SECRET_KEY: "your-jwt-secret-key-min-32-chars"
  AWS_ACCESS_KEY_ID: "your-access-key"
  AWS_SECRET_ACCESS_KEY: "your-secret-key"
